<header>
    <h1>Voll</h1>
    <h2>Gerenciando sua clínica</h2>
</header>

<main>

    <h1>Escolha qual seção deseja iniciar</h1>
    <section onclick="window.location.href='medicos'">
        <i class="fas fa-user-md fa-3x"></i> <!-- Ícone de médico -->
        <a href="medicos">Médicos</a>
    </section>

    <section onclick="window.location.href='pacientes'">
        <i class="fas fa-user fa-3x"></i> <!-- Ícone de paciente -->
        <a href="pacientes">Pacientes</a>
    </section>

    <section onclick="window.location.href='consultas'">
        <i class="far fa-calendar-alt fa-3x"></i> <!-- Ícone de calendário -->
        <a href="consultas">Consultas</a>
    </section>
</main>